body {
    background-color: blue;
}

.imagen {
    width: 55em;
    height: 25em;
    margin: 0 auto;
    background-image: url("../img/nintendo-switch.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.consola {
    border: .3em solid white;
    /**/
    margin: 0 auto;
    width: 52em;
    height: 20em;
}